@import '@styles/mixins';

.ConversionResults {
  font-size: 18px;

  .result {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .resultPrefix {
      @include darkMode {
        color: darken(darkTheme(backgroundText), 25%);
      }
      @include lightMode {
        color: lighten(lightTheme(backgroundText), 10%);
      }
    }
  }
}
