@import '@styles/mixins';

.ConversionResults {
  font-size: 18px;
  width: 270px;

  .result {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .romanNumeral {
      @include timesNewRoman;
    }

    @include mobile {
      justify-content: center;

      .resultPrefix {
        display: none;
      }
    }
  }

  &.error {
    font-size: 14px;
    @include darkMode {
      color: darkTheme(error);
    }
    @include lightMode {
      color: lightTheme(error);
    }
  }

  @include mobile {
    width: auto;
    max-width: 250px;
  }
}
