@import '@styles/mixins';

.ConversionResults {
  font-size: 18px;
  max-width: 240px;

  .result {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &.error {
    font-size: 14px;
    @include darkMode {
      color: darkTheme(error);
    }
    @include lightMode {
      color: lightTheme(error);
    }
  }
}
