@import '@styles/mixins';

.AppTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .title {
    margin-left: -2px;
    font-size: 48px;
    margin-bottom: 8px;
    @include timesNewRoman;
  }

  .description {
    font-size: 14px;
  }
}

@include mobile {
  .AppTitle {
    max-width: 250px;
  }
}